@model Dojo

<div class="w-50 mx-auto">
    <h1>Name: @Model.Name</h1>
    <h1>DojoLocation: @Model.DojoLocation</h1>
    <h1>Fav Language: @Model.FavLang</h1>
    <h1>Comment: @Model.Comment</h1>
    <a href="/" class="btn btn-lg btn-primary">Back</a>
</div>